@import "../src/common/colours.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}

body {
    background: linear-gradient(#ffffff, #ffd9d9, #0000005e, #fad2f4);
    background-size: 300% 300%;
    animation: gradientAnimation 20s infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    margin: 0px 40px;
}

