@import '../../common/colours.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header {
    background: linear-gradient(90deg, rgb(255, 255, 255,0.5), rgb(198, 147, 224,0.5), rgb(241, 241, 241,0.5), rgba(245, 243, 184, 0.5));
    background-size: 300% 180%;
    height: 80px;
    padding: 0px 50px;
    z-index: 1000;    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    opacity: 0.8;
}

.logo {
    color: #000000;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    transition: 0.6s;
    text-decoration: none; /* Add this line to remove the underline */
}
.logo:hover{
    font-size: 54px;
}

.wine-image img{
    width: 55px;
    height: 55px;
    transition: 0.5s;
    filter: blur(0.5px);
}
.wine-image img:hover{
    cursor: pointer;
    filter: none;
}
