@import '../../common/colours.scss';

.header {
    background: linear-gradient(90deg, rgba(112, 63, 133, 0.8), rgba(67, 63, 69, 0.8), rgba(68, 47, 111, 0.8), rgba(68, 47, 111, 0.8));
    background-size: 300% 180%;
    animation: color 25s ease-in-out infinite;
    height: 80px;
    padding: 0px 50px;
    z-index: 1000;    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    opacity: 0.9;
}
@keyframes color {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.logo {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 500;
    font-family: "Copperplate", fantasy;
    transition: 0.6s;
}
.logo:hover{
    font-size: 54px;
}

.wine-image img{
    width: 55px;
    height: 55px;
    transition: 0.5s;
    filter: blur(0.5px);
}
.wine-image img:hover{
    cursor: pointer;
    filter: none;
}