@import '../../common/colours.scss';

.list {
    background: radial-gradient(rgb(180, 58, 58),
        rgb(67, 63, 69),
        rgb(164, 77, 119),
        rgba(222, 25, 25, 0.8));
        background-size: 300% 180%;
        animation: color 20s ease-in-out infinite;
    margin: 20px 0px;
    border-radius: 50px;
    h2 {
        color: $secondary-font;
        margin-bottom: 10px;
        font-weight: 400;
    }
    h4 {
        color: $secondary-font;
    }
}
@keyframes color {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.dish-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 25px;
}